<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="panel-title">Panel info</div>
  </div>
  <div class="panel-body">
  	Panel content
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <div class="panel-title">Panel info</div>
  </div>
  <div class="panel-body">Panel content</div>
</div>
</div>